<ion-view view-title="Club">
  <ion-content>
      <div class="row">
        <div class="col-50">
            <img class="club-photo" src="../img/rocsaut.jpg" align="middle">
        </div>
        <div class="col-50">
          <p>ROCSAUT</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="button button-block button-positive icon-left ion-checkmark-round">
            Subscribe
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col-33">
          <button id="about" class="button club-page-button button-assertive">About</button>
        </div>
        <div class="col-33">
          <button class="button club-page-button button-assertive">Contact</button>
        </div>
        <div class="col-33">
          <button class="button club-page-button button-assertive">Posts</button>
        </div>
      </div>

        <div class="tabs">
          <a class="tab-item">
            About
          </a>
          <a class="tab-item">
            Contact
          </a>
          <a class="tab-item">
            Posts
          </a>
        </div>

  </ion-content>
</ion-view>
