<ion-view view-title="Club Signup">
  <ion-content class="background" scroll="false">
    <form ng-submit="doClubSignUp()">
      <div class="list signup">
        <label class="item item-input">
          <span class="input-label">Club Name</span>
          <input type="text" ng-model="userData.clubName">
        </label>
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" ng-model="userData.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Userame</span>
          <input type="text" ng-model="userData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="userData.password">
        </label>
        <button class="button button-block button-positive icon-left icon-gear-a" type="submit">Submit</button>
      </div>

    </form>
  </ion-content>
</ion-view>
