<ion-view hide-back-button="true">

  <ion-nav-title>{{ clubName }}</ion-nav-title>
  <ion-content>
    <!--
    <div class="row">
    <div class="col-50">
    <img class="club-photo" ng-src="{{image}}" align="middle">
  </div>
  <div  class="col-50">
  <p class="club-name">{{ name }}</p>
</div>
</div>

-->
    <div class="content">
      <div class="profile-info">
        <img class="profile-image" ng-src="{{image.data}}">
        <!-- *profile-name / name profile -->

				<h3 class="profile-name">{{clubName}}</h3>


      </div>

      <ion-item class="item item-text-wrap">
        <div ng-class="isItemShown(about) ? 'item-expand active' : 'item-expand inactive'">
          <h2>About</h2>

          <p>{{clubDesc}}</p>
        </div>
        <div ng-click="toggleItem(about)" class="item-expand-footer">
          <i ng-class="isItemShown(about) ? 'ion-ios-minus-outline' : 'ion-ios-plus-outline'"></i>
          {{ isItemShown(clubDesc) ? 'Less' : 'More' }}
        </div>
        <div class="row">
          <div class="col">
            <button class="button button-block {{buttonColour}}" ng-click="subscribe()">
              {{btnText}}
            </button>
          </div>
        </div>
      </ion-item>

      <div class="list">
        <div class="item item-divider">
          Upcoming Events
        </div>

        <ion-item ng-repeat=" event in events">
          <h4>{{ event.title }}</h4>
          <h5>Time: {{ event.time  | date:'yyyy-MM-dd HH:mm:ss'}}</h5>
          <h6>Location: {{ event.location }}</h6>
          <p> {{event.description}} </p>
        </ion-item>
      </div>
    </div>
  </ion-content>
</ion-view>
