<!-- (*) assigned classes -->
<ion-view view-title="Edit Profile">
	<ion-nav-buttons side="right">
        <button class="button button-icon ion-ios-checkmark-empty" ng-click="update()"></button>
    </ion-nav-buttons>
	<ion-content>
		<!--*edit-profile-bg / background profile -->
		<div class="edit-profile-bg">
			<!-- load background image -->
			<img alt="">
		</div>
		<!--*content-edit / container edit profile -->
		<div class="content-edit">
			<!--*content-img / container image profile -->
			<div class="content-img">
				<!--*img-bg / image profile -->
				<div class="img-bg">
					<!--*opt-image / icon add image o cancel image -->
					<a class="opt-image-left">
						<i class="icon ion-ios-camera" ng-click="openPhotoLibrary('CAMERA')"></i>
					</a>
					<a class="opt-image">
						<i class="icon ion-ios-plus-outline" ng-click="openPhotoLibrary('PHOTOLIBRARY')"></i>
					</a>
					<!-- or -->
					<!--
					<a class="opt-image">
						<i class="icon ion-ios-close-outline"></i>
					</a>
					-->
					<!-- load image profile -->
					<img alt="">
				</div>
			</div>
			<!-- list inset style -->
			<!-- item divider -->
			<div class="item item-divider">
					Account Settings
			</div>
			<div class="list list-inset">
				<label class="item item-input">
					<span class="input-label">First Name</span>
					<input type="text" placeholder="John" ng-model="data.firstName">
				</label>
				<label class="item item-input">
					<span class="input-label">Last Name</span>
					<input type="text"  placeholder="Doe" ng-model="data.lastName">
				</label>

				<label class="item item-input">
				    <span class="input-label edit">Email: email@abc.com</span>
						<!--Email: {{info.email}} -->
				</label>
				<label class="item item-input">
					<span class="input-label">Password</span>
				    <input type="password" placeholder="Password" ng-model="data.password">
				</label>
			</div>
<img ng-src="{{data.image}}">
		</div>
	</ion-content>
</ion-view>
