<ion-view>
  <ion-nav-bar class ="bar-stable">
    <ion-nav-back-button></ion-nav-back-button>
    <ion-nav-buttons side="right">
      <a class="button button-icon ion-ios-gear-outline" ui-sref="app.create_event" ng-show="userInfo.type == '2'"></a>
    </ion-nav-buttons>
    <ion-nav-title>{{data.title}}</ion-nav-title>
  </ion-nav-bar>

  <ion-content>
    <!-- *profile-bg / container image -->
    <div class="profile-bg">
      <!-- EVENT BACKGROUD PHOTO -->
      <img src="{{image.data}}" alt="">
    </div>

    <div class="content">
      <!-- *profile-info / container data profile -->
      <div class="profile-info">
        <!-- *EVENT-name / name profile -->
        <h3 class="profile-name">{{ data.title }}</h3>
        <!-- *EVENT date -->
        <span class="profile-description">
         <h3>Event Date</h3>
         {{ data.time | date:'yyyy-MM-dd HH:mm:ss' }}
        </span>

        <!-- *EVENT location -->
        <span class="profile-description">

          <h3>Location</h3>
          {{ data.location }}

        </span>

        <!-- *EVENT-description / description profile -->
        <span class="profile-description">
          <h3>Description</h3>
          {{ data.description }}
        </span>
      </div>



    </div>

  </ion-content>
</ion-view>
