<ion-view view-title="Event">

  <ion-content>
    <!-- *profile-bg / container image -->
    <div class="profile-bg">
      <!-- EVENT BACKGROUD PHOTO -->
      <img src="img/bg.jpg" alt="">
    </div>

    <div class="content">
      <!-- *profile-info / container data profile -->
      <div class="profile-info">
        <!-- *EVENT-name / name profile -->
        <h3 class="profile-name">THIS IS EVENT NAME</h3>
        <!-- *EVENT date -->
        <span class="profile-description">
         April 8, 2017
        </span>

        <!-- *EVENT time -->
        <span class="profile-description">
          3:00 pm
        </span>

        <!-- *EVENT-description / description profile -->
        <span class="profile-description">
          COME TO THIS EVENT
        </span>
      </div>



    </div>

  </ion-content>
</ion-view>
