<ion-view>
  <ion-nav-bar class ="bar-stable">
    <ion-nav-back-button></ion-nav-back-button>
    <ion-nav-buttons side="right">
      <a class="button button-icon ion-ios-gear-outline" ui-sref="app.edit_event" ng-show="userInfo.type == '2'"></a>
    </ion-nav-buttons>
    <ion-nav-title>{{data.title}}</ion-nav-title>
  </ion-nav-bar>

  <ion-content>
    <div class="profile-bg">
      <!-- EVENT BACKGROUD PHOTO -->
      <img src="{{image.data}}" alt="">
    </div>


    <div class="content">
      <!-- *profile-bg / container image -->

      <!-- *profile-info / container data profile -->
      <div class="event-info">
        <!-- *EVENT-name / name profile -->
        <h3 class="event-name">{{ data.title }}</h3>
        <h6 class="event-name">{{data.club.name}}</h6>
        <!-- *EVENT date -->
        <span class="event-description">
          <i class="icon ion-ios-clock-outline"></i>
          {{ data.time | date:'yyyy-MM-dd HH:mm:ss' }}
        </span>

        <!-- *EVENT location -->
        <span class="event-description">
          <i class="icon ion-ios-location-outline"></i>
          {{ data.location }}
        </span>
        <!-- *EVENT-description / description profile -->
        <span class="event-about">
          {{ data.description }}
        </span>
      </div>
    </div>
  </ion-content>



</ion-view>
