<ion-view view-title="Feed" hide-back-button="true">
  <ion-header-bar class="bar bar-deepblue bar-deepblue-borderbottom">
  </ion-header-bar>

  <ion-content>
    <!-- ion refresher for page refresh functionality -->
    <ion-refresher pulling-text="LOADING" on-refresh="doRefresh()">
    </ion-refresher>

    <div ng-repeat="event in events">
      <div class="item item-avatar item-button-right">
        <img src="sampledata/img/rocsaut.jpg">
        <h2>{{event.title}}</h2>
        <p>{{event.time}}</p>
        <p>{{event.location}}</p>
      </div>

      <div class="item item-image">
        <img ng-src="{{event.image}}">
      </div>

      <div class="item item-text-wrap">
        <p>
          {{event.description}}
        </p>
      </div>
    </div>

    <!-- club recommendation -->
    <h4>You may also like.. </h4>
    <div ng-repeat="club in clubs">
      <div class="item" href="#/app/clubs/{{club.id}}">
        <img ng-src="{{club.image}}">
        <h2>{{club.name}}</h2>
      </div>
    </div>
    
  </ion-content>
</ion-view>
