<ion-view view-title="Login">
  <ion-header-bar>
    <h1 class="title">Login</h1>
  </ion-header-bar>

  <ion-content class="background" scroll="false">

    <div class="list login">
      <form ng-submit="doLogin()">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
        <h6>Club exec? Log in <a ui-sref="app.club_login">here</a></h6>
      </form>
    </div>
  </ion-content>

  <ion-footer-bar align-title="center" class="bar-positive">
      <h1 class="title sans-pro-light">Forgot Password?</h1>
  </ion-footer-bar>
</ion-view>
