<ion-view view-title="Signup">
  <ion-content class="background" scroll="false">
    <form ng-submit="doSignUp()">
      <div class="list signup">
        <label class="item item-input">
          <span class="input-label">First Name</span>
          <input type="text" ng-model="userData.firstName">
        </label>
        <label class="item item-input">
          <span class="input-label">Last Name</span>
          <input type="text" ng-model="userData.lastName">
        </label>
        <label class="item item-input">
          <span class="input-label">Userame</span>
          <input type="text" ng-model="userData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="userData.password">
        </label>
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" ng-model="userData.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Field of Study</span>
          <input type="text" ng-model="userData.fieldOfStudy">
        </label>
        <label class="item item-input">
          <span class="input-label">Student Number</span>
          <input type="number" ng-model="userData.studentNumber" required="false">
        </label>

        <button class="button button-block button-positive" type="submit">Submit</button>
      </div>
    </form>


  </ion-content>
</ion-view>
