<ion-view view-title="Profile">
  <ion-content>
    <div class="text-center ui-gradient-deepblue padding">
      <img class="avatar-account" src="../img/jenjen.png">
    </div>



    <div class="row">
      <div class="col">
        <button class="button club-page-button button-positive">Your Clubs</button>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button class="button  icon-left ion-gear-a button-outline club-page-button button-positive">
          Edit Profile
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
