/* Empty. Add your own CSS if you like */

/* homescreen background image */
.loading {
  color: #66ccff;
  font-style: oblique;
  text-align: center
}

.background.scroll-content {
    /* background: url('../img/logo.png') no-repeat; */
    background: #46C7F3;
    background-size: cover;
    opacity: 1;
}

.start-logo {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px;
}

.home-title {
  color: white;
  text-align: center;
  margin-bottom: 200px;
}

.home-button {
  opacity: 0.8;
}

.examplePic {
  height: 150px;
  width: 150px;
  border:1px solid black;
  margin: 2px;
}

.cardHolder {
  height: 200px;
  width:100%;
  padding: 8px;
  margin: 6px;
}

.you-may-like {
  text-align: center;
}
/*
.item .item-divider .home {
  height: 1px;
}
*/


/* Search Bar */
.search-bar {
  width: 90%;
}

.search {
  margin-right: 10px;
}



/* Login page */
.login {
  width:80%;
  top: 25%;
  left: 10%;
  opacity: 1;
  position: absolute;

}

.item-input {
  border: 0;
  outline: 0;
  opacity: 0.7;

  color: black;
}

.input-label {
  color: black;
}

/* Signup page */
.signup {
  width:80%;
  top: 25%;
  left: 10%;
  opacity: 1;
  position: absolute;
}

#sign-up-button {
  font-family: sans-serif;
}

/* Club profile page */
.club-photo {
  height: 150px;
  width: 150px;
  display: block;
  margin-right: auto;
  border: 1px solid #c0c0c0;
}

.club-name {
  padding-top: 100px;
  font-size: 200%;
  font-weight: bolder;
  font-family: arial;
}

.club-page-button {
  height: 50%;
  width: 80%;
  left: 10%;

}

.item-expand {
  position: relative;
  width: 100%;
  max-height: 60px;
  transition: max-height 0.1s ease-out;
  overflow: hidden;
}

.item-expand.active {
  max-height: 200px;
  transition: max-height 0.3s ease-out;
}



/* User account page */

.user-info {
  width: 80%;
  left: 10%;
}


/* Side Menu */
.avatar-menu {
  height: 120px;
  width: 120px;
  border-radius: 100%;
  border: solid white 2px;
}

/* Profile */

#profile-bg {
	position: fixed;
	left: 0;
	top: -150px;
	width: 100%;
	height: 150px;
	background: url('../img/bg.jpg') no-repeat transparent;
	background-size: 100%;
	background-position: 50% 20%;
	text-align: center;
}

#content {
	position: relative;
	margin-top: 150px;
	background-color: white;
	box-shadow: 0px -1px 10px rgba(0,0,0,0.4);
	padding-top: 200px;
}

#profile-info {
	position: absolute;
	top: -95px;
	width: 100%;
	z-index: 2;
	text-align: center;
}
#profile-name {
	color: #444;
	font-size: 26px;
}
#profile-description {
	font-size: 15px;
	color: #888;
}
#profile-description a {
	color: #888;
}


#profile-image {
	display: block;
	border-radius: 100px;
	border: 1px solid #fff;
	width: 128px;
	height: 128px;
	margin: 30px auto 0;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
}

.list-item-content {
	padding: 5px;
}

.list-item {
	color: #666666;
}

.post {
	color: #444;
}

.post-time {
	position: absolute;
	right: 5px;
	top: 5px;
	font-size: 11px;
	color: #888;
}

.post-profile-image {
	display: inline-block;
	vertical-align: top;
	width: 48px;
	height: 48px;
	margin-right: 10px;
	border-radius: 50%;
}
.post-options {
	position: absolute;
	font-size: 16px;
	right: 5px;
	bottom: 5px;
	color: #888;
}
