<ion-view title="ClubU" id="page1">
  <ion-content padding="true" class="has-header">
    <form id="clubU-form2" class="list Login">
      <label class="item item-input" id="clubU-input3">
        <span class="input-label">Username</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="clubU-input4">
        <span class="input-label">Password</span>
        <input type="password" placeholder="">
      </label>
    </form>
    <a ui-sref="menu.cloud" id="clubU-button1" class="button button-positive  button-block">Login</a>
  </ion-content>
</ion-view>